<!doctype html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Translator App</title>
  </head>
  <body>
    <h2>Simple Translator</h2>
    <p>Date: {{ datetoday2 }}</p>

    <form action="/translate" method="POST">
      <textarea
        name="sourcetext"
        rows="5"
        cols="40"
        placeholder="Enter text here"
      ></textarea>
      <br /><br />

      <select name="languages">
        {% for name, code in languages.items() %}
        <option value="{{ code }}">{{ name.title() }}</option>
        {% endfor %}
      </select>

      <br /><br />
      <button type="submit">Translate</button>
    </form>

    <h3>Translated Text:</h3>
    <p>{{ res }}</p>
  </body>
</html>
